<a href="https://colab.research.google.com/github/JaeanHan/pandas/blob/main/Pandas_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(
    {'a': [2,3,2,7,4],
     'b': [2,1,3,4,3],
     'c': [1,1,2,3,5],
     }
)

In [ ]:
df.sort_index(ascending=False)

   a  b  c
4  4  3  5
3  7  4  3
2  2  3  2
1  3  1  1
0  2  2  1

값을 기준으로 정렬

In [ ]:
df.sort_values( by = ['a'], inplace=True, ascending=False) # ascending 내림차순
df

   a  b  c
3  7  4  3
4  4  3  5
1  3  1  1
0  2  2  1
2  2  3  2

- sort_index => index 기준 정렬
  - by => 기준이 되는 컬럼이름
  - ascending =>True : 오름차순 / False : 내림차순
  - inplace => True: 현재 수행결과를 저장할 때 / False: 임시
- sort_value => 특정 칼럼을 기준으로 정렬
  - by => 기준이 되는 컬럼이름
  - ascending =>True : 오름차순 / False : 내림차순
  - inplace => True: 현재 수행결과를 저장할 때 / False: 임시

# 결측지 처리

In [ ]:
# None, NAN, NaN
# np.nan : 임의의 결측값
import numpy as np
df = pd.DataFrame(
    {'a':[1,1,3,4,5],
     'b':[2,3,np.nan,3,4],
     'c':[3,4,7,6,4]}
)
df

   a    b  c
0  1  2.0  3
1  1  3.0  4
2  3  NaN  7
3  4  3.0  6
4  5  4.0  4

- 결측치 유무

In [ ]:
df.isnull() 
# 결측치 확인

       a      b      c
0  False  False  False
1  False  False  False
2  False   True  False
3  False  False  False
4  False  False  False

In [ ]:
# Nan의 갯수 확인
df.isnull().sum()

a    0
b    1
c    0
dtype: int64

In [ ]:
# 결측치를 포함한 행 삭제
df.dropna()
# 저장x

# df.dropna(inplace=True) 저장o

# 결측치를 포함한 컬럼 삭제 axis = 0 가로 / axis = 1 세로
# df.dropna(axis=1)

   a    b  c
0  1  2.0  3
1  1  3.0  4
3  4  3.0  6
4  5  4.0  4

In [ ]:
df
# 결측치값 대체
# df.fillna(대체하고자 하는 값)

df.fillna(10) #Nan을 10으로 변경

   a     b  c
0  1   2.0  3
1  1   3.0  4
2  3  10.0  7
3  4   3.0  6
4  5   4.0  4

In [ ]:
# 결측치값 이전 혹은 값으로 대체
df2 = pd.DataFrame(
    {'a':[1,1,3,4,np.nan],
     'b': [2,3,np.nan,np.nan,4],
     'c': [np.nan,4,1,1,4]
    }
)

In [ ]:
# 특정 위치에 임의의 nan 값 지정할 때 사용
df2['a'].loc[0]=np.nan
df2

     a    b    c
0  NaN  2.0  NaN
1  1.0  3.0  4.0
2  3.0  NaN  1.0
3  4.0  NaN  1.0
4  NaN  4.0  4.0

In [ ]:
# 결측치 체울시 채우는 갯수 선택적으로 제한하는 경우
df2.fillna(method='ffill', limit=1)

     a    b    c
0  1.0  2.0  NaN
1  1.0  3.0  4.0
2  3.0  3.0  1.0
3  4.0  NaN  1.0
4  4.0  4.0  4.0

In [ ]:
df2.fillna(method='ffill')

     a    b    c
0  NaN  2.0  NaN
1  1.0  3.0  4.0
2  3.0  3.0  1.0
3  4.0  3.0  1.0
4  4.0  4.0  4.0

In [ ]:
# bfill ffill로 결측치 제거 수행

df2.fillna(method='bfill')

     a    b    c
0  1.0  2.0  4.0
1  1.0  3.0  4.0
2  3.0  4.0  1.0
3  4.0  4.0  1.0
4  NaN  4.0  4.0

In [ ]:
df2.fillna(method='ffill', inplace=True)
df2.fillna(method='bfill', inplace=True)
df2

     a    b    c
0  1.0  2.0  4.0
1  1.0  3.0  4.0
2  3.0  3.0  1.0
3  4.0  3.0  1.0
4  4.0  4.0  4.0

# apply, map을 화용한 데이터 변화

In [ ]:
df=pd.DataFrame({
    'a':[1,2,3,4,5]
}
)
df

   a
0  1
1  2
2  3
3  4
4  5

In [ ]:
# 컬럼 b를 생성 / 조건 a가 2보다 작으면 '2미만', 4보다 작으면 '4미만', 4보다 크면 '4이상'이라는 값을 입력

In [ ]:
df['b']=0
df.head()

   a  b
0  1  0
1  2  0
2  3  0
3  4  0
4  5  0

In [ ]:
a = df[df['a']<2]
a

   a  b
0  1  0

In [ ]:
df['b'][a.index] = '2미만'
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   a    b    c    d
0  1  2미만  2미만  2미만
1  2  4미만  4미만  4미만
2  3    0  4미만  4미만
3  4    0  4이상  4이상
4  5    0  4이상  4이상

In [ ]:
# df['b'] = (df[df['a']>=2]) & (df[df['a']<4])
df['b'][a.index] = '4미만'
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   a    b    c    d
0  1  4미만  2미만  2미만
1  2  4미만  4미만  4미만
2  3    0  4미만  4미만
3  4    0  4이상  4이상
4  5    0  4이상  4이상

In [ ]:
def cls_function(x):
  if x<2:
    return '2미만'
  elif x<4:
    return '4미만'
  else:
    return '4이상'

In [ ]:
df['c'] = df['a'].apply(cls_function)
df

   a    b    c
0  1  2미만  2미만
1  2    0  4미만
2  3    0  4미만
3  4    0  4이상
4  5    0  4이상

In [ ]:
y=2
z=4
df['d'] = df['a'].apply(lambda x : '2미만' if (x<2) else ('4미만' if (x<4) else '4이상'))
df

   a    b    c    d
0  1  2미만  2미만  2미만
1  2    0  4미만  4미만
2  3    0  4미만  4미만
3  4    0  4이상  4이상
4  5    0  4이상  4이상

In [ ]:
def function(x):
  if x==1:
    return 'one'
  elif x==2:
    return 'two'
  elif x==3:
    return 'three'
  elif x==4:
    return 'four'
  elif x==5:
    return"five"

- map함수

In [ ]:
tmp_dict = {1:'one', 2:'two', 3:'three', 4:'four', 5:'five'}
df['e'] = df['a'].map(tmp_dict)
df

   a    b    c    d      e
0  1  4미만  2미만  2미만    one
1  2  4미만  4미만  4미만    two
2  3    0  4미만  4미만  three
3  4    0  4이상  4이상   four
4  5    0  4이상  4이상   five

- 데이터 병합

- 1) 상하 결합

In [ ]:
df1 = pd.DataFrame({'a':[1,2,3], 'b':[11,12,13], 'c':[21,22,23]})
df2 = pd.DataFrame({'a':[4,5,6], 'b':[13,15,16], 'c':[24,25,26]})

In [ ]:
# 결합시 사용하는 함수는 concat() 사용

In [ ]:
pd.concat([df1,df2])

   a   b   c
0  1  11  21
1  2  12  22
2  3  13  23
0  4  13  24
1  5  15  25
2  6  16  26

In [ ]:
# index 초기화
pd.concat([df1, df2], ignore_index=True)

   a   b   c
0  1  11  21
1  2  12  22
2  3  13  23
3  4  13  24
4  5  15  25
5  6  16  26

In [ ]:
df1 = pd.DataFrame({'a':[1,2,3], 'b':[11,12,13], 'd':[21,22,23]})
df2 = pd.DataFrame({'a':[4,5,6], 'b':[13,15,16], 'c':[24,25,26]})
pd.concat([df1,df2])
# 상하 결합

   a   b     d     c
0  1  11  21.0   NaN
1  2  12  22.0   NaN
2  3  13  23.0   NaN
0  4  13   NaN  24.0
1  5  15   NaN  25.0
2  6  16   NaN  26.0

In [ ]:
# innver join
df1 = pd.DataFrame({'a':[1,2,3], 'b':[11,12,13], 'd':[21,22,23]})
df2 = pd.DataFrame({'a':[4,5,6], 'b':[13,15,16], 'c':[24,25,26]})
pd.concat([df1,df2], join='inner')
# 같은 컬럼만

   a   b
0  1  11
1  2  12
2  3  13
0  4  13
1  5  15
2  6  16

- 2)좌우 결합

In [ ]:
pd.concat([df1, df2], axis = 1)
# columns 가로로 병합

   a   b   d  a   b   c
0  1  11  21  4  13  24
1  2  12  22  5  15  25
2  3  13  23  6  16  26

In [ ]:
# merge 함수
# 특정 기준이나 결합 방식을 정의랑 때 사용
df1 = pd.DataFrame({'id':[1,2,3], '성별':['F','M','F'], '나이':[20,30,40]})
df2 = pd.DataFrame({"id":[1,2,3], '키':[160.5,170.3,180.1], "몸무게":[45.1,50.3,72.1]})

In [ ]:
df1

   id 성별  나이
0   1  F  20
1   2  M  30
2   3  F  40

In [ ]:
df2

   id      키   몸무게
0   1  160.5  45.1
1   2  170.3  50.3
2   3  180.1  72.1

In [ ]:
# 아이디를 기준으로 합칠 때 merge

pd.merge(df1, df2, how='left', on='id')

   id 성별  나이      키   몸무게
0   1  F  20  160.5  45.1
1   2  M  30  170.3  50.3
2   3  F  40  180.1  72.1

In [ ]:
df1 = pd.DataFrame({'id':[1,2,3,4,5], '성별':['F','M','F','M','F'], '나이':[220,30,40,25,42]})
df2 = pd.DataFrame({'id':[3,4,5,6,7], '키':[160.5,170.3,180.1,142.3,156.7], '몸무게':[45.1,50.3,72.1,38,42]})

In [ ]:
pd.merge(df1,df2, how='left', on='id')

   id 성별   나이      키   몸무게
0   1  F  220    NaN   NaN
1   2  M   30    NaN   NaN
2   3  F   40  160.5  45.1
3   4  M   25  170.3  50.3
4   5  F   42  180.1  72.1

- 키, 몸무게, 성별, 나이 정보가 모두 확인된 유저들의 정보를 출력하시오

In [ ]:
dz = pd.merge(df1,df2, how='left', on='id').dropna()
# 결측치 제거
dz

   id 성별  나이      키   몸무게
2   3  F  40  160.5  45.1
3   4  M  25  170.3  50.3
4   5  F  42  180.1  72.1

In [ ]:
# 전체 데이터를 결합해서 출력할 때
pd.merge(df1,df2, how='outer', on='id')

   id   성별     나이      키   몸무게
0   1    F  220.0    NaN   NaN
1   2    M   30.0    NaN   NaN
2   3    F   40.0  160.5  45.1
3   4    M   25.0  170.3  50.3
4   5    F   42.0  180.1  72.1
5   6  NaN    NaN  142.3  38.0
6   7  NaN    NaN  156.7  42.0